body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px;
  cursor: pointer;
}

li {
  margin-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
}
